.skill-container {
	width: 100%;
	height: 20em;
	display: flex;
}

.skill-column {
	width: 50%;
	display: table;
	padding-left: 1em;
	padding-right: 1em;
}

.skill-column h3 {
	margin-top: 0.5em;
	margin-bottom: 0.3em;
	margin-left: 3.9em;
	font-weight: bold;
	font-size: 1.5em;
	clear: right;
	color: #474661;
	color: #574dba;
}

.skill-item {
	padding-right: 1em;
	padding-left: 1em;
	display : inline-table;
	width: 100%;
}

.skill-item h5 {
	margin: 0em;
	margin-left: -2.2em;
	padding-right: 0.6em;
	font-size: 1em;
	text-align: right;
	width: 7em;
	display: marker;
	color: #474661;
}

.skill-ranking {
	min-width: 1em;
	width: 100%;
	height: 1em;
	background-color: #eadafd;
	border-radius: 1em;
	display: table-cell;
	float: /*right*/;
}

div.skill-ranking-fill {
	height: 100%;
	width: 100%;
	border-radius: 20em;
	background-image: linear-gradient(to right, #7969ff 0%, #bd89fd 100%);
	background-color: #;
}

.p100 {
	width: 100% !important;
}

.p90 {
	width: 90% !important;
}

.p80 {
	width: 80% !important;
}

.p70 {
	width: 70% !important;
}

.p60 {
	width: 60% !important;
}

.p50 {
	width: 50% !important;
}

.p40 {
	width: 40% !important;
}

.p30 {
	width: 30% !important;
}

.p20 {
	width: 20% !important;
}

.p10 {
	width: 10% !important;
}

.p0 {
	width: 0% !important;
}

.about-item {
	display : flex;
	align-items : center;
	margin-bottom: 1.5em;
	margin-top: 1.5em;
}

.about-icon {
	height: 3.3em;
	padding: 0.3em;
	width: 3em;
	display: flex;
	vertical-align: middle;	
	align-content: center;
}

.about-icon img {
	height: 100%;
	/*width: 100%;*/
}

.about-description {
	padding-left: 1.2em;
	width: 100%;
}

.about-description h3 {
	margin-top: 0em;
	font-weight: bold;
	font-size: 1.3em;
	color: #574dba;
}

.about-description h5 {
	margin-bottom: 0em;
}


.date {
	white-space: nowrap;
	align-self: stretch;

}

.date h5 {
	font-size: 1em;
	color: #6f6f84;
	padding: 0em !important;
	margin: 0em;
	margin-top: 0.3em;
}

h6 {
	/*color: red;*/
	font-size: 1.5em;
	font-weight: bold;
	color: #474661;
}

.disable-hover {
    pointer-events: none;
}

body {
	font-family: "Avenir";
}

a {
	color: #664dff;
	font-weight: bold;
}

.purple {
	color: #7969ff !important;
}

a:link {
    color: white;
}

a:visited {
    color: white;
	text-decoration: none;
}

a:hover {
    color: white;
	text-decoration: none;
}

a:active {
    color: white;
}

h1 {
	color: #474661;
	font-weight: bold;
	font-size: 3em;
	line-height: 0.5em;
}

h2 {
	color: #474661;
	line-height: 1em;
	margin-bottom: 0.5em;
}

h4 {
	color: #474661;
	font-size: 1.8em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.modal-style h4 {
	
}

.modal-body h4 {
	padding-bottom: 0.3em;
	padding-top: 0.2;
}

.container {
	/*padding-top: 5.4em;*/
}

#Projects {
	padding-top: 5.4em;
}

#About {
	padding-top: 5.4em;
}

#footer {
	padding-top: 60em;
	padding-bottom: 1em;
	text-align: center;
}

.header-bar {
	background-color: rgba(255, 255, 255, .97);
	box-shadow: rgba(0, 0, 0, 0.1) 0pt 0pt 13pt;
	position: fixed;
	padding: 1em;
	width: 100%;
	z-index: 10;
	display : inline-table;
	align-items : center;
}

.title {
	font-size: 1.5em;
	font-weight: bold;
	padding-left: 0.3em;
	vertical-align: middle;
	color: #474661;
	display: table-cell;
}

.header-buttons {
	color: white;
	float: right;
	position: relative;
	line-height: 2em;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0.4em;
	border-radius: 1em;
	font-size: 1.2em;
}

.purple-grad {
	background-image: linear-gradient(to right, #7969ff 0%, #bd89fd 100%);
}

.green-grad {
	background-image: linear-gradient(to right, #00ef87 0%, #00d6b4 101%);
}

.red-grad {
	background-image: linear-gradient(to right, #ff59b2 0%, #f0471f 100%);
}

.blue-grad {
	background-image: linear-gradient(to right, #34aaff 0%, #0ed9ff 100%);
}

.python {
	background-color: #aa43e2;
}

.opencv {
	background-color: #00e8ab;
}

.arduino {
	background-color: #00d0ff;
}

.ios {
	background-color: #3e98ff;
}

.swift {
	background-color: #ff598e;
}

.networking {
	background-color: #648191;
}

.javascript {
	background-color: #ff9326;
}

.htmlcss {
	background-color: #ff4a70;
}

.jailbreak {
	background-color: #751dff;
}

.design {
	background-color: #ff4a70;
}

.about {
	float: none !important;
	font-size: 0.8em !important;
	padding-top: 0.3em !important;
	padding-bottom: 0.3em !important;
	padding-right: 0.8em !important;
	padding-left: 0.8em !important;
	margin-left: 0em !important;
	margin-right: 0em !important;
}

.color-button {
	color: white;
	float: right;
	position: relative;
	line-height: 2em;
	vertical-align: middle;
	background-color: #gray;
	padding-left: 1em;
	padding-right: 1em;
	margin-left: 0.4em;
	margin-top: 0.5em;
	border-radius: 1em;
	font-weight: bold;
	font-size: 1.2em;
	clear: none;
}

.tag {
	color: white;
	float: left;
	padding-right: 0.85em;
	padding-left: 0.85em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	margin-right: 0.25em;
	border-radius: 1em;
	font-weight: bold;
	font-size: 0.9em;
	clear: none;
	cursor: default;
}

.panel-footer {
	background-color: #fff;
	border-style: none;
	width: 100%;
	height: 3em !important;
	vertical-align: bottom;
	position: relative;
	display: table;
}

.panel-default {
	background-color: rgba(255, 255, 255, 0);
	border-style: none;
	border-radius: 9pt;
	padding: 0.5em;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.15) 0pt 0pt 10pt;
	z-index: 0;

}

.panel-title {
	color: #474661;
	line-height: 25px;
	font-size: 1.5em;
	font-weight:bolder;
	position: relative;
	padding: 0pt;
	margin: 0pt;
	float: left;
}

.panel-subtitle {
	color: #56537a;
	font-size: 1.3em;
	font-weight:lighter;
	margin: 0pt;
	position: relative;
	line-height: 25px;
	top: 0pt;
	float: right;
	clear: none;
	overflow: visible;
	font-weight: normal;
}

.panel-heading {
	position: relative;
	height: 0px;
	width: 100%;
	background-color: #fff !important;
	border-style: none;
	align-items : center;
	padding-bottom: 0em;
	display: table !important;
}

.panel-body {
	display: flex;
}

.description {
	position: relative;
	float: right;
	width: 50%;
	padding-bottom: 0em;
	padding-top: 0em;
	padding-left: 1.5em;
	padding-right: 0em;
	line-height: 1.5em;	
}

.thumbnail {
	position: relative;
	display: block;
	width: 100%;
	padding: 0em;
	margin: 0em;
	float: left;
	z-index: -1;
	border: hidden;
}

.pickgradient {
	width: 50%;
	height: 100%;
	display:inline-block;
	
	background: -moz-linear-gradient(top, rgba(158,47,249,0.2) 0%, rgba(158,47,249,0.1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(158,47,249,0.1)), color-stop(100%,rgba(158,47,249,0.2))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(158,47,249,0.2) 0%,rgba(158,47,249,0.1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(158,47,249,0.2) 0%,rgba(158,47,249,0.1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(158,47,249,0.2) 0%,rgba(158,47,249,0.1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(158,47,249,0.2) 0%,rgba(158,47,249,0.1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		
	border-style: none;
	border-radius: 0.6em;
	overflow: hidden;
}

.modal-content h3 {
	margin-top: 0em;
	margin-bottom: 0.4em;
}

.modal-content h4 {
	color: #664dff;
	padding-bottom: 0em;
	margin-bottom: 0.3em;
}

.modal-content h1 {
	margin-bottom: 0em;
	margin-top: 0em;
	font-size: 2.5em;
}

.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: auto;
    overflow-y: auto;
}

.modal-content p {
	margin-left: 3em !important;*/
}

.glyphicon {
	color: white;
	background-color: #664dff !important;
	font-size:0.8em !important;
	padding-right: 0.5em !important;
	padding-left: 0.5em !important;
	padding-bottom: 0.5em !important;
	padding-top: 0.5em !important;
	border-radius: 1em;
	margin-right: 0.5em;
}


@media (min-width: 770px) {
	.container {
		max-width: 770px;
	}
}

@media (min-width: 680px) {
	.panel-subtitle{
		float: right !important;
		font-size: 1.65em;
	}
	.panel-title {
		line-height: 25px;
		font-size: 1.5em;
	}
	.thumbnail {
		width: 100%;
	}
	.panel-body {
		padding-bottom: 0.5em;
	}
	.pickgradient {
		width: 50%;
	}
	.description {
		width: 50%;
		font-size: 1.2em;
		/*padding-left: 1.5em;*/
	}
	
	.header-description {
		font-size: 1.4em !important;
	}
}

@media (max-width: 550px) {
	
	.skill-item {
		padding-right: 0em;
	}
	
	.skill-item h5 {
		margin-left: 0em;
		text-align: left;
	}
	
	.skill-column h3 {
		margin-left: 0em;
		font-size: 1.2em;
		clear: right;
	}
	
	.skill-column {
		width: 100%;
	}
	
	.skill-container {
		display: inline;
	}
	
	.date {
		font-size: 0.8em;
		padding-left: 1em;
	}
	
	.about-icon {
		display: none;
	}
	
	.about-description {
		padding-left: 0em;
	}
	
	.about-item {
		margin-bottom: 1.7em;
		margin-top: 1em;
	}
	
	.about-description h3 {
		font-size: 1.1em;
		margin-bottom: 0.4em;
	}
	
	.about-description h5 {
		margin-top: 0em;
		font-size: 0.9em;
	}
	
	#About {
		padding-top: 1em;
	}
	
	.header-buttons {
		line-height:2.4em;
		padding-left: 0.8em;
		padding-right: 0.8em;
		margin-left: 0.3em !important;
		border-radius: 1.5em;
		font-size: 0.9em;
	}
	
	.about {
		display: inline !important;
		white-space: nowrap;
	}
	
	.modal-content h3 {
		margin-top: 0em !important;
		font-size: 1.2em !important;
	}
	
	.modal-content h4 {
		color: #664dff !important;
		padding-bottom: 0em !important;
		margin-bottom: 0.3.4em !important;
	}
	
    .panel-subtitle{
		font-size: 0.9em;
		line-height: 1.4em;
		clear: left;
		float: left;
	}
	.panel-default {
		padding: 0.1em;
	}
	.panel-title {
		line-height: 25px;
		font-size: 1.3em;
	}
	.panel-heading {
		padding-bottom: 0.5em;
	}
	.panel-body {
		padding-top: 0em;
		padding-bottom: 0em !important;
		margin-bottom: 0em !important;
		display: inherit;
	}
	
	.thumbnail {
		width: 100%;
	}
	
	.pickgradient {
		width: 100%;
	}
	
	.description {
		width: 100%;
		padding: 0em;
		margin: 0em;
		padding-top: 0.5em;
		margin-bottom: 0.5em;		
	}
	
	.color-button {
		align-content: center;
		display: table;
		width: 100% !important;
		text-align: center !important;
	}
	
	.header-bar {
		position: absolute;
		height: 4em !important;
	}
	
	.panel-footer {
		margin-top: 0em;
		padding-top: 0em;
		padding-bottom: 1.1em;
	}
	
}

@media (max-width: 450px) {
    .tag{
		visibility: hidden;
		padding: 0em;
		margin: 0em;
		overflow: hidden;
		display: none;
	}
}

